@import './base.css';

html {
  overflow: auto !important;
  scroll-behavior: smooth;
}
#app {
  width: 100%;
  height: 100vh;
}
.grid12 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px 20px;
  align-content: flex-start;
}

.adaptiveGrid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 12px 20px;
  /* grid-auto-flow: dense; */
  border: none;
  align-items: flex-start;
  align-content: flex-start;
}

@media (max-width: 1200px) {
  .adaptiveGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.span11 {
  grid-column: span 11;
}
.span6 {
  grid-column: span 6;
}
.span4 {
  grid-column: span 4;
}
.span3 {
  grid-column: span 3;
}
.span2 {
  grid-column: span 2;
}
.span {
  grid-column: span 1;
}
.full {
  grid-column: 1/-1;
}
.title {
  color: #2c4957;
  text-align: center;
  font-family: serif;
  font-size: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 15px 0px 10px 0px;
}

/* цвет label, кроме textarea */
.v-label {
  opacity: 1;
  color: #344b57;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 600;
}
/* нерозрачность полей в состоянии disabled */
.base .v-field--disabled {
  opacity: 0.52;
}

/* .v-input__details {
  min-height: 10px;
  padding-top: 0px;
  white-space: nowrap;
} */
